<div class="left_column">
    <div data-ng-show="bug_type.isPersisted()">
        Votes: {{ bug_type.vote_count }}
        <br>
        <a data-ng-hide="bug_type.vote_id_by_current_user" ng-click="createVote(bug_type)" class="vote">
            <i class="fa fa-arrow-circle-up"></i>
            upvote
        </a>
        <a data-ng-show="bug_type.vote_id_by_current_user" class="unvote"
           ng-click="destroyVote(bug_type.vote_id_by_current_user, bug_type)">
            <i class="fa fa-arrow-circle-down"></i>
            unvote
        </a>
    </div>
</div>
<div class="right_column">

<span data-ng-show="bug_type.owned_by_current_user && !bug_type.editBugTypeMode" class="edit_icons badge">
        <a data-ng-click="bug_type.editBugTypeMode = true">
            <i class="fa fa-pencil"></i>
        </a>

        <a data-ng-click="destroyBugType(bug_type)">
            <i class="fa fa-close"></i>
        </a>
</span>

    <h4 class="list-group-item-heading" data-ng-hide="bug_type.editBugTypeMode">{{bug_type.name}} </h4>

    <p class="list-group-item-text" data-ng-hide="bug_type.editBugTypeMode">{{bug_type.description}} </p>

    <form data-ng-show="bug_type.editBugTypeMode">

        <input type="hidden" data-ng-model="bug_type.id" data-ng-required/>
        <input type="text" data-ng-model="bug_type.name" placeholder="Name" data-ng-required class="form-control"/>
        <textarea class="form-control" name="bug_type.description" placeholder="Description" data-ng-model="bug_type.description"></textarea>
        <button type="submit" data-ng-click="createOrUpdateBugType(bug_type);" class="button regular">
            Save
        </button>
        <button type="submit" data-ng-click="bug_type.editBugTypeMode = false; resetBugType(bug_type);"
                class="button cancel">
            Cancel
        </button>
    </form>

</div>