<h1>Bug types</h1>
<div ng-include="'templates/alerts.html'"></div>
<ul class="bug_types list-group">
    <li class='list-group-item' ng-repeat="bug_type in bug_types | orderBy:'-vote_count'">

        <div class="actions">
            Votes: {{ bug_type.vote_count }}
            <br>
            <a ng-click="createVote(bug_type)">
                <i class="fa fa-arrow-circle-up"></i>
                upvote
            </a>
        </div>

        <div class="text">
            <h4 class="list-group-item-heading">{{ bug_type.name }}</h4>
            <p class="list-group-item-text">{{ bug_type.description }} </p>
        </div>

    </li>
</ul>
