<h2>Home</h2>
<div ng-include="'templates/alerts.html'"></div>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Votes</td>
    </tr>
    </thead>
    <tr ng-repeat="bug_type in bug_types | orderBy:'-vote_count'">
        <td>
            {{ bug_type.name }}
        </td>
        <td>
            {{ bug_type.description }}
        </td>
        <td>
            {{ bug_type.vote_count }}
        </td>
        <td>
            <a ng-click="createVote(bug_type)" class='upvote_bug_type button regular'>
                <i class="fa fa-arrow-circle-up"></i>
                Upvote
            </a>
        </td>
    </tr>
</table>
