<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Please sign in</h3>
    </div>
    <div class="modal-body">
        You have to sign in before you can add, edit or vote bug types. It's super easy, you can even do it through
        GitHub. Sign in <a href="users/sign_in">here</a>
        or sign up <a href="users/sign_up">here.</a>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Ok</button>
    </div>
</script>
