- if Rails.env.development?
  %div{style:"z-index:99; background-color: grey; color: white; position:fixed; bottom:30px; right:30px; padding: 10px; border-radius: 2px "}
    %span.visible-xs SIZE XS
    %span.visible-sm SIZE SM
    %span.visible-md SIZE MD
    %span.visible-lg SIZE LG