<% if flash.any? %>
    <% flash.each do |msg| %>
        <% text = msg.is_a?(Array) ? msg[1] : msg #parse devise's flash format:
        %>
        <div class="alert alert-warning">
          <a class="close" data-dismiss="alert">x</a>
          <%= text.html_safe %>
        </div>
    <% end %>
<% end %>