@import "bootstrap-sprockets";
@import "bootstrap";
@import "buttons";
@import "colors";
@import url(https://fonts.googleapis.com/css?family=Pacifico|Rancho);
@import "font-awesome";

table {
  width: 400px
}

table thead {
  font-weight: bold;
}

.navbar {
  #logo {
    padding-left: 20px;
    text-decoration: none;
    font-size: 35px;
    span.bug {
      padding-left: 8px;
      font-size: 40px;
      font-family: Rancho;
    }
    span.log {
      font-size: 35px;
      font-family: Pacifico;
    }
    i {
      color: $bright-green
    }
  }
  background-color: white;
  background-image: none;
}

.container.main {
  padding: 30px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid lighten(rgb(187, 187, 187), 14%);
}

html, body {
  height: 100%;
  color: $dark-grey;
}

h1 {
  padding-bottom: 15px;
  color: darken($dark-grey, 15%);
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

#app_introduction {
  text-align: center;
  h2 {
    color: $darker-bright-green;
    margin-bottom: 10px;
  }
}

body {
  background-image: url(image_path('background.png'));
  margin-bottom: 80px;
}

table.bug_types {
  .glyphicon {
    padding-right: 5px
  }
}

a:not(.btn):not(.button) {
  &, &:visited, &:hover {
    color: $dark-grey;
  }
}

.bug_types {
  //everything larger that mobile phones:
  @media (min-width: $screen-sm-min) {
    & {
      max-width: 70%;
    }
  }
  margin: auto;
  li {
    $votes-area-width: 100px;
    .text {
      word-wrap: break-word;
      margin-left: $votes-area-width;
      h4 {
        color: darken($dark-grey, 15%);
      }
    }
    .votes {
      border-right: 1px solid $light-grey;
      background-color: lighten($light-grey, 15%);
      padding: 15px 15px 0 0;
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: $votes-area-width;
      text-align: right;
      a.vote {
        &, &:visited, &:hover {
          color: $darker-bright-green;
        }
      }
      a.unvote {
        &, &:visited, &:hover {
          color: $dark-grey;
        }
      }
    }
  }
}

