@import "bootstrap-sprockets";
@import "bootstrap";

$dark-grey: rgb(101, 110, 127);
$mint: rgb(177, 232, 230);
$blueish-black: #242d36;
$bright-red: rgb(244, 81, 69);

table {
  width: 400px
}

table thead {
  font-weight: bold;
}

.container {
  background-image: none;
  background-color: white;
  border-radius: 3px;
  border: 1px solid lighten(rgb(187, 187, 187), 14%);
  padding-bottom: 15px;
}

html, body {
  height: 100%;
}

h1 {
  padding: 15px;
}

body {
  background-image: url(image_path('background.png'));

}

table.bug_types {
  .glyphicon {
    padding-right: 5px
  }
}

a {
  &, &:visited, &:hover {
    color: $dark-grey;
  }
}

.button {
  border: 0;
  border-radius: 0;
  color: #f0f1f3;
  padding: 7px 14px;
  text-shadow: none;
  text-transform: capitalize;
  &.regular {
    background-color: $bright-red;
  }
  &.cancel {
    background-color: $blueish-black
  }
  &#new_bug_type{
    background-color: $blueish-black;
    margin: 5px 0px 30px 15px;
    padding: 10px 20px;
    display: inline-block;
    span{
      padding-left: 3px;
      font-size: 10px;
    }
    &, &:visited, &:hover {
      color: white;
    }
  }
}