@import "colors";
@import "bootstrap-social";

@mixin coloured-button($color, $border-color: darken($color, 6%)) {
  border-color: $border-color;
  background-color: $color;
  &:hover, &:focus, &:active {
    background-color: $border-color;
  }
}

.button {
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-weight: 700;
  padding: 7px 14px;

  &.regular {
    @include coloured-button($bright-green, #3AC162);
  }

  &.cancel {
    @include coloured-button($light-grey);
    color: white;
  }

  &#new_bug_type {
    width: 180px;
    display: block;
    margin: auto 0px 10px auto;
    font-weight: bold;
    i {
      vertical-align: middle;
      padding-right: 3px;
      font-size: 14px;
    }
    &, &:visited, &:hover {
      color: white;
    }
  }
}
.btn-github {
  margin-bottom: 20px;
}
